# NetBeans & Ant build directories
/build/
/dist/
/nbproject/private/

# Compiled Java class files
*.class

# Log files and archives
*.log
*.war
*.ear
*.zip
*.tar.gz

# OS specific temporary files
.DS_Store
Thumbs.db
